<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>true</allowMembersToFlag>
    <branding>
        <loginFooterText>Partner Central</loginFooterText>
        <loginLogo>Communities_Shared_Document_Folder/sdo_partner_central_logo_584054_png.png</loginLogo>
        <primaryColor>#1797C0</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#B1BAC1</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#51606E</secondaryColor>
        <tertiaryColor>#DDE4E9</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#51606E</zeronaryColor>
        <zeronaryComplementColor>#FFFFFF</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <description>Partner Community for PRM, channel sales &amp; marketing.  Used by Paul Partner and Vance Channel.</description>
    <emailSenderAddress>sdo@salesforce.com</emailSenderAddress>
    <emailSenderName>Partner Central</emailSenderName>
    <enableGuestChatter>false</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>true</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>true</enablePrivateMessages>
    <enableReputation>true</enableReputation>
    <enableSiteAsContainer>true</enableSiteAsContainer>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <maxFileSizeKb>256000</maxFileSizeKb>
    <navigationLinkSet>
        <navigationMenuItem>
            <label>Learn</label>
            <position>1</position>
            <publiclyAvailable>false</publiclyAvailable>
            <type>MenuLabel</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Market</label>
            <position>2</position>
            <publiclyAvailable>false</publiclyAvailable>
            <type>MenuLabel</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Sell</label>
            <position>3</position>
            <publiclyAvailable>false</publiclyAvailable>
            <type>MenuLabel</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Support</label>
            <position>4</position>
            <publiclyAvailable>false</publiclyAvailable>
            <type>MenuLabel</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Community</label>
            <position>5</position>
            <publiclyAvailable>false</publiclyAvailable>
            <target>/community</target>
            <type>InternalLink</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <permissionSet>Einstein_Analytics</permissionSet>
        <permissionSet>Community_Moderator</permissionSet>
        <permissionSet>Work_com_for_Partner_License</permissionSet>
        <profile>*Partners</profile>
        <profile>Admin</profile>
        <profile>*Channels</profile>
        <profile>Partner Community User</profile>
    </networkMemberGroups>
    <picassoSite>Partner_Central1</picassoSite>
    <reputationLevels>
        <level>
            <label>Novice Partner</label>
            <lowerThreshold>0.0</lowerThreshold>
        </level>
        <level>
            <label>Intermediate Partner</label>
            <lowerThreshold>51.0</lowerThreshold>
        </level>
        <level>
            <label>Advanced Partner</label>
            <lowerThreshold>151.0</lowerThreshold>
        </level>
        <level>
            <label>Expert Partner</label>
            <lowerThreshold>401.0</lowerThreshold>
        </level>
        <level>
            <label>Superior Partner</label>
            <lowerThreshold>801.0</lowerThreshold>
        </level>
        <level>
            <label>Distinguished Partner</label>
            <lowerThreshold>1501.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>2501.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>4001.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>6001.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>10001.0</lowerThreshold>
        </level>
    </reputationLevels>
    <reputationPointsRules>
        <pointsRule>
            <eventType>FeedItemSomeoneSharesYourPost</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>EndorsedForKnowledgeOnATopic</eventType>
            <points>20</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemWriteAComment</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemAnswerAQuestion</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemMentionSomeone</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemLikeSomething</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemMarkAnswerAsBest</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemPostQuestion</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemWriteAPost</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAMention</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>EndorseSomeoneForKnowledgeOnATopic</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAComment</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemShareAPost</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAnAnswer</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveALike</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemYourAnswerMarkedBest</eventType>
            <points>20</points>
        </pointsRule>
    </reputationPointsRules>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>Partner_Central</site>
    <status>Live</status>
    <tabs>
        <customTab>SFDC_Channel_Account_Plan__c</customTab>
        <customTab>Certification__c</customTab>
        <defaultTab>Chatter</defaultTab>
        <standardTab>Chatter</standardTab>
        <standardTab>Lead</standardTab>
        <standardTab>Opportunity</standardTab>
        <standardTab>Workspace</standardTab>
        <standardTab>Dashboard</standardTab>
        <standardTab>report</standardTab>
    </tabs>
    <urlPathPrefix>partnercentral</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
