<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>true</allowMembersToFlag>
    <allowedExtensions>jpg,docx,txt,png,gif,bmp,pdf,xlsx,ppt,doc,pptx,xls</allowedExtensions>
    <branding>
        <loginFooterText>Cirrus AudioPro</loginFooterText>
        <loginLogo>Communities_Shared_Document_Folder/audiopro_png.png</loginLogo>
        <primaryColor>#1797C0</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#B1BAC1</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#51606E</secondaryColor>
        <tertiaryColor>#DDE4E9</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#51606E</zeronaryColor>
        <zeronaryComplementColor>#FFFFFF</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <description>This is a B2B community using the Customer Service (Napili) template and accessible by Lauren Boyle.</description>
    <emailSenderAddress>sdo@salesforce.com</emailSenderAddress>
    <emailSenderName>AudioPro Community</emailSenderName>
    <enableGuestChatter>true</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>true</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>true</enableReputation>
    <enableSiteAsContainer>true</enableSiteAsContainer>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <maxFileSizeKb>20480</maxFileSizeKb>
    <navigationLinkSet>
        <navigationMenuItem>
            <label>Community</label>
            <position>1</position>
            <publiclyAvailable>true</publiclyAvailable>
            <type>MenuLabel</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Topics</label>
            <position>2</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>ShowMoreTopics</target>
            <type>NavigationalTopic</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Support</label>
            <position>3</position>
            <publiclyAvailable>false</publiclyAvailable>
            <type>MenuLabel</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>My Account</label>
            <position>4</position>
            <publiclyAvailable>false</publiclyAvailable>
            <type>MenuLabel</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <permissionSet>Moderate_Audiophiles_Community</permissionSet>
        <permissionSet>Community_Moderator</permissionSet>
        <profile>*Service</profile>
        <profile>Admin</profile>
        <profile>*Customer Community</profile>
    </networkMemberGroups>
    <picassoSite>Professional_Community_C</picassoSite>
    <reputationLevels>
        <level>
            <branding>
                <smallImage>Communities_Shared_Document_Folder/reputation_01_png2.png</smallImage>
            </branding>
            <label>Novice</label>
            <lowerThreshold>0.0</lowerThreshold>
        </level>
        <level>
            <branding>
                <smallImage>Communities_Shared_Document_Folder/reputation_02_png2.png</smallImage>
            </branding>
            <label>Amateur</label>
            <lowerThreshold>26.0</lowerThreshold>
        </level>
        <level>
            <branding>
                <smallImage>Communities_Shared_Document_Folder/reputation_03_png2.png</smallImage>
            </branding>
            <label>Intermediate</label>
            <lowerThreshold>51.0</lowerThreshold>
        </level>
        <level>
            <branding>
                <smallImage>Communities_Shared_Document_Folder/reputation_04_png2.png</smallImage>
            </branding>
            <label>Professional</label>
            <lowerThreshold>101.0</lowerThreshold>
        </level>
        <level>
            <branding>
                <smallImage>Communities_Shared_Document_Folder/reputation_05_png2.png</smallImage>
            </branding>
            <label>Expert</label>
            <lowerThreshold>160.0</lowerThreshold>
        </level>
        <level>
            <branding>
                <smallImage>Communities_Shared_Document_Folder/reputation_06_png2.png</smallImage>
            </branding>
            <label>Guru</label>
            <lowerThreshold>200.0</lowerThreshold>
        </level>
    </reputationLevels>
    <reputationPointsRules>
        <pointsRule>
            <eventType>FeedItemReceiveALike</eventType>
            <points>7</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemShareAPost</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemWriteAPost</eventType>
            <points>3</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemYourAnswerMarkedBest</eventType>
            <points>25</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemPostQuestion</eventType>
            <points>2</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAnAnswer</eventType>
            <points>11</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAComment</eventType>
            <points>7</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemLikeSomething</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemAnswerAQuestion</eventType>
            <points>9</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemSomeoneSharesYourPost</eventType>
            <points>8</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemMarkAnswerAsBest</eventType>
            <points>6</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemMentionSomeone</eventType>
            <points>2</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAMention</eventType>
            <points>9</points>
        </pointsRule>
        <pointsRule>
            <eventType>EndorsedForKnowledgeOnATopic</eventType>
            <points>0</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemWriteAComment</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>EndorseSomeoneForKnowledgeOnATopic</eventType>
            <points>0</points>
        </pointsRule>
    </reputationPointsRules>
    <selfRegProfile>*customer community</selfRegProfile>
    <selfRegistration>true</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>Professional_Community</site>
    <status>Live</status>
    <tabs>
        <defaultTab>home</defaultTab>
        <standardTab>Chatter</standardTab>
    </tabs>
    <urlPathPrefix>professional</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
